
.chat-message {
    position: relative;
    float: left;
    clear: both;
    margin: 2px 50px 20px;
    padding: 8px;
    border-radius: 8px;
    line-height: 22px;
    background-color: #ddd;
}

.right {
    background-color: #448AFF;
    color: #fff;
}

.coalesce {
    margin-top: -16px;
}

.circle {
    position: absolute;
    top: -2px;
    left: -50px;
    height: 42px;
    width: 42px;
}

.rightCircle {
    left: auto;
    right: -50px;
}
